:root {
  --background-color: #101010;
  --card-color: #161616;
  --card-darker: #1a1b31;
  --faded: #9595be;
  --odd: #1a1b31;
  --even: #232441f7;
  --nav-background: #1616166e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter" sans-serif;
  color: #fff;
  transition: 0.3s ease-in-out;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--background-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}
h3 {
  font-size: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

i {
  font-size: 1rem;
}

.inactive {
  opacity: 0.3;
}

button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  padding: 0.7rem 0.7rem;
  width: fit-content;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid #fff;
}

button:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}

button:hover i {
  color: rgba(255, 255, 255, 0.4);
}
button:active {
  transform: scale(0.8);
  transition: 0;
}
a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
input,
select {
  width: 400px;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 0.5rem 0.7rem;
}
input:focus,
select:focus {
  outline: 0;
  border-color: var(--faded);
}

.main {
  width: 100vw;
  height: calc(100svh - 0);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

option {
  background-color: #101010;
}

@media screen and (max-width: 700px) {
  i {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.1rem;
    font-family: "Poppins";
  }
  button:hover {
    border-color: #fff;
    color: #fff;
    font-size: 0.7rem;
  }
  button:hover i {
    color: #fff;
  }
  button i {
    font-size: 0.9rem;
  }
  input,
  select {
    height: 3rem;
    width: 100%;
  }
  .main {
    height: calc(100svh - 0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-fade-down {
  animation: fade-down 1s ease;
}
.anim-fade-up {
  animation: fade-up 1s ease;
}
.anim-fade-left {
  animation: fade-left 1s ease;
}
.anim-fade-right {
  animation: fade-right 1s ease;
}
.anim-fade {
  animation: fade 1s ease;
}
